<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Livro</title>
         <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <center>
        <h1>Adicionar um livro</h1>
        <h1><a href="/biblioteca/">Página inicial</a></h1>
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="adicionar">
        </form>
        <br>
    </center>
</body>
</html>