{% extends "biblioteca/base.html" %}

{% block titulo %} biblioteca {% endblock %}

{% block conteudo %}
    {% for livro in livro_list %}

        <article>
            <section align="center">
            <h2> 
                <a href="{{ livro.get_absolute_url }}">
                    {{ livro.titulo }}
                </a>
            </h2>
            <p> 
                Autor: {{ livro.autor }}
            </p>
            <ul>

                    <a href="{% url 'biblioteca:update' pk=livro.id %}">Editar</a>


                    <a href="{% url 'biblioteca:delete' pk=livro.id %}">Deletar</a>

            </ul>
            </section>
        </article>


    {% endfor %}
{% endblock %}